div{
    background-color: aqua;
    margin-bottom: 10px;
    border: 2px solid red;

}
.list{
    background-color: aquamarine;
    font-weight: 900;
    font-size: xx-large;
    border: 10px dashed rgb(66, 142, 255);
    box-shadow: 10px 20px 10px 25px violet;
}
img{
    width: 500px;
    height: 500px;
    background-size: cover;
    margin-left: 45px;
    border: 10px solid white;
    border-radius: 30px;
    box-shadow: 25px 10px 30px 25px rgb(198, 255, 112);
}
h3{
    background-color: blue;
    border: 10px solid gray;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    color: white;
}